<footer class="border-t border-border/40 py-6 md:py-0 bg-background">
    <div class="container flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row mx-auto px-4">
        <p class="text-center text-sm leading-loose text-muted-foreground md:text-left" x-data="{ currentYear: new Date().getFullYear() }">
            &copy; <span x-text="currentYear">2026</span> Javier O. Cordero Pérez.
        </p>
        <div class="flex items-center space-x-4">
            <a href="https://www.facebook.com/qpromptapp" class="text-muted-foreground hover:text-foreground"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://x.com/qpromptapp" class="text-muted-foreground hover:text-foreground"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://hostux.social/@Cuperino" class="text-muted-foreground hover:text-foreground"><i class="fa-brands fa-mastodon"></i></a>
            <a href="https://github.com/Cuperino/QPrompt-Teleprompter/" class="text-muted-foreground hover:text-foreground"><i class="fa-brands fa-github"></i></a>
            <a href="https://t.me/imaginaryteleprompter" class="text-muted-foreground hover:text-foreground"><i class="fab fa-telegram-plane"></i></a>
            <a href="https://discord.gg/8TSCZH2WyK" class="text-muted-foreground hover:text-foreground"><i class="fab fa-discord"></i></a>
        </div>
        <div class="flex items-center space-x-4 text-sm text-muted-foreground">
             <a href="https://github.com/Cuperino/Signatures/blob/main/CLA.md" target="_blank" class="hover:underline underline-offset-4">CLA</a>
             <a href="https://github.com/Cuperino/QPrompt-Teleprompter/#code-of-conduct" target="_blank" class="hover:underline underline-offset-4">CoC</a>
             <a href="https://github.com/Cuperino/QPrompt-Teleprompter/blob/main/COPYING" class="hover:text-white transition-colors">QPrompt License</a>
             <a href="LICENSE" class="hover:text-white transition-colors">Website and Assets License</a>
        </div>
    </div>
</footer>

